{% extends '@Redmine/base.html.twig' %}
 {% block  title %} eKreative {% endblock %}
    {% block content %}
        <a class="btn btn-default" title="project" href="{{ path('project_index') }}"> Project </a>
    {% endblock %}